@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
    font-family: 'vape';
    src: url(../fonts/futura1.otf);
}

@font-face {
    font-family: 'bebas';
    src: url(../fonts/bebas.otf);
}

@font-face {
    font-family: 'neutra';
    src: url(../fonts/NeutraBold.otf);
}
@font-face {
    font-family: 'Neutrabook';
    src: url(../fonts/NeutraBook.otf);
}
@font-face {
    font-family: 'Neutralight';
    src: url(../fonts/NeutraLight.otf);
}

@font-face{
	font-family: 'Proxima-Bold';
	src: url(../fonts/Proxima%20Nova/Proxima%20Nova%20Bold.otf);
}
@font-face{
	font-family: 'Proxima-Semibold';
	src: url(../fonts/Proxima%20Nova/Proxima%20Nova%20Semibold.otf);
}

@font-face{
    font-family: 'Proxima-Regular';
    src: url(../fonts/Proxima%20Nova/Proxima%20Nova%20Regular.otf);
}

@font-face{
    font-family: 'Proxima-Light';
    src: url(../fonts/Proxima%20Nova/Proxima%20Nova%20Light.otf);
}

@font-face{
	font-family: 'Circular-Book';
	src: url(../fonts/Circular/CircularStd-Book.otf);
}
