div.gráficos {
    width: 100%;
    margin: auto;
}

.tarjeta {
    z-index: 1000;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.125rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tarjeta:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}


.tarjeta-uno {
    padding: 20px;
    height: 75vh;
}

.tarjeta-xl {
    padding: 0px;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.tarjeta-md {
    padding: 12px;
    height: 225px;
}

.titulo-tarjeta-uno {
    font-family: 'bebas';
    color: rgba(39, 46, 64, 0.955);
    font-size: 30px;
}

.titulo-tarjeta-sec {
    font-family: 'bebas';
    color: rgba(39, 46, 64, 0.955);
    font-size: 20px;
}

.humo {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.humo > .titulo-tarjeta-sec{
    font-size:28px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 1px rgba(0, 0, 0, 0.05)
}
.humo > .porcentaje-partido
{
    width: 50%;
    height: 50%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    color: #fff;
    font-family: 'neutra';
    font-size: 32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 1px rgba(0, 0, 0, 0.05)
}
.mapa {
    /*background: rgba(0,0,0,0.3);*/
    position: absolute;
    width: 50%;
    height: 80%;
    /*width: 555px;*/
    /*height: 305px;*/
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
}

#Capa_1 {
    display: block;
}

.stats {
    /*background: rgba(0,0,0,0.3);*/
    position: relative;
    width: 50%;
}

.titulo-helper {
    font-family: 'bebas';
    color: rgba(39, 46, 64, 0.955);
    font-size: 22px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(39, 46, 64, 0.2);
}

.p-stats {
    font-family: 'bebas';
    color: rgba(39, 46, 64, 0.955);
    font-size: 22px;
}