*{
	margin:0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
}

body{
	width: 100%;
	margin:auto;
	background: url(../img/hero2.jpg);
	background-attachment:fixed;
    background-position: 0, -1;
    background-origin: center;
    background-size:cover;
    -webkit-font-smoothing: antialiased
}

.vape-header{
	font-family: 'neutra';
	font-size: 22px;
	font-weight: 200: 
}

.display-1{
	font-family: 'vape';
    color: #fff;
}
.display-2{
	font-family: 'vape';
    color: #fff;
}
.display-4{
	font-family: 'vape';
    color: #fff;
    margin-bottom: 1em;
}
h6{
		font-family: 'vape';
    color: #fff;
}
nav{
	background: rgba(0,0,0,0.3);
}
.hr-titulo{
	background:#2196f3;
	height:5px;
}
.banner{
	height: 100vh;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(0,0,0,0.2);
}

.contenedor-hero{
	height: 100vh;
	width: 100%;
	display: flex;
	background: rgba(0,0,0,0.1);
}
.contenedor-hero-flex{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(0,0,0,0.1);
}
.btn-centro{
	width: 200px;

}
.btn-header{
	display: none;
	font-family: 'neutra'; 
	width: 100px;
}
div.hero-2{
	width: 100%;
	background: url(../img/hero5.jpg);
	background-attachment:fixed;
    background-position: 0, -1;
    background-origin: center;
    background-size:cover;
}
div.hero-3{
	width: 100%;
	background: url(../img/hero6.jpg);
	background-attachment:fixed;
    background-position: 0, -1;
    background-origin: center;
    background-size:cover;
}
.footer{
	width: 100%;
	background: #2196f3;
}.bottom{
	padding:10px;
	width: 100%;
	background: #1E88E5  ;
}
.copyright{
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 0;
	font-size: 12px;
}