@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat');

@font-face {
    font-family: 'vape';
    src: url(../fonts/futura.otf);
}

@font-face {
    font-family: 'neutra';
    src: url(../fonts/NeutraBold.otf);
}
@font-face {
    font-family: 'Neutrabook';
    src: url(../fonts/NeutraBook.otf);
}
@font-face {
    font-family: 'Neutralight';
    src: url(../fonts/NeutraLight.otf);
}
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
}
nav {
    border: 1px solid rgba(0, 0, 0, 0.125);
    z-index: 1000;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}
#btn-menu-nav {
    color: #fff;
    width: 60px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.0);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#btn-menu-nav:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.125);
    border-radius: 0.25rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#btn-menu-nav:active {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.125);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.navbar-brand {
    font-family: 'neutra';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
    2px 2px 1px rgba(0, 0, 0, 0.1);
}
#body {
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}

.right {
    position: relative;
    float: right;
    margin: auto;
    width: 60%;
    height: 100%;
}

.left {
    position: relative;
    float: left;
    margin: auto;
    width: 40%;
    height: 100%;
}

.cuadro-ins {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p.lead {
    color: #fff;
    padding: 5px;
    font-size: 24px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1),
    2px 2px 0px rgba(0, 0, 0, 0.1);

}

.cuadro {
    z-index: 50;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(35px);
    filter: opacity(0%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrap {
    padding: 20px;
}

#c-frm {
    width: 600px;
    height: 525px;
    position: absolute;
    top: 40px;
    bottom: 0;
}
#c-calc {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
}
#c-usuario{
    width: 600px;
    height: 490px;
    position: absolute;
    top: 0px;
    bottom: 0;
}
#c-resultado{
     width: 600px;
    height: 490px;
    position: absolute;
    top: 0px;
    bottom: 0;
}
#c-dash{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 200px;
}
#c-login{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 325px;
}
#dash-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dash-it{
    display: flex;
    height: 145px;
    width: 140px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    background: rgba(220, 53, 69, 1);
    border-radius: 10px;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.0);
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.dash-link:hover>div{
    background: rgba(220, 53, 69, 0.8);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.dash-link:active>div{
    background: rgba(220, 53, 69, 0.8);
    box-shadow: inset 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.bg-darkBlue
{
    background: #2C3A47; 
}

.dropdown-item:active{
    background: rgba(0,0,0,0.125);
}