.menu{
	z-index: 1029;
	position: fixed;
	margin-top:56px;
	float:left;
	left: 0;
	height: 100vh;
	background: rgba(238, 238, 238, 0.97);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width: 250px;
	transform: translate(-250px);
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: transform .2s ease;
	 -o-transition: transform .2s ease;
	 transition: transform .2s ease;
}

.show{
	transform: translate(0);
}

ul.list-menu{
	margin-top: 25px;
	list-style: none;
	padding:0;
}
i.menu-it-icon{
	margin-right: 10px;
}
li.list-item{
	padding: 15px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a{
	text-decoration: none;
	color:rgba(39, 46, 64, 0.955);
	font-family: 'Proxima-Semibold'; 
	font-size: 16px;
} 
a:hover{
		text-decoration: none;
		color:rgba(39, 46, 64, 0.955);
}
a:hover>li
{
	text-decoration: none;
	color:rgba(39, 46, 64, 0.955);
	background: rgba(0,0,0,0.1);
}
a:active>li
{
	color:#fff;
	background: #007bff;
}
a:active>li>i
{
	color:#fff;
}
.text-purp{
	color:rgba(39, 46, 64, 0.955);
}
.titulo-menu{
	width: 100%;
	padding: 0px 15px;
	font-size: 20px;
	font-family: 'Proxima-Semibold';
}